
body > div {
    height: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#input{
    font-size: 4em;
    text-align: center;
    display: block;
}

label, input {
    margin: 1rem;
    font-size: 2em;
    font-family: sans-serif;
}

canvas {
    margin: 0.25rem;
}

.dot {
  height: 32px;
  width: 32px;
  border: 8px solid transparent;
  border-radius: 50%;
  display: inline-block;
  margin: 4px;
  transition: scale 250ms;
}

.dot:hover {
    transform: scale(1.2);
}
