:root {
    --primary: #01579b;
    --primary-dark: #002f6c;
    --primary-light: #63a4ff;
    --primary-bright: #81d4fa;
    --primary-white: #f4faff;
    
    --primary-text: #444444;
    
    --secondary: #fbc02d;
    --secondary-dark: #fb8c00;
    --secondary-light: #ffd95b;
    
    --accent: #fbc02d;
    --accent-light: #fbc02d;
    --accent-dark: #e53935;
}

@media (prefers-color-scheme: dark) {
    --primary: #01579b;
    --primary-dark: #001120;
    --primary-light: #63a4ff;
    --primary-bright: #81d4fa;
    --primary-white: #f4faff;
    --primary-black: #000000;
}

.primary{
    background-color: var(--primary);
}

.primary-dark{
    background-color: var(--primary-dark);
}

.primary-light{
    background-color: var(--primary-light);
}

.primary-bright{
    background-color: var(--primary-bright);
}

.primary-white{
    background-color: var(--primary-white);
}
