
#home {
    border-bottom:4px solid var(--primary-bright);
}
div.name {
    flex:1;
}

div.name h{
    font-family: "DejaVu Serif", Georgia, serif;
    color:white;
    font-size: 80px;
    margin: 15px 20px 30px 20px;
}

div.name p{
    font-family: "DejaVu Serif", Georgia, serif;
    color:white;
    font-size: 22px;
    margin: 15px 5px 15px 20px;
}

@media (max-width: 1250px) {
    div.name h{
        white-space: normal;
        font-size: 50px;
    }
    div.name p{
        white-space: normal;
        font-size: 90%;
    }
}

@media (max-width: 600px) {
    div.name h{
        white-space: normal;
    }
    div.name p{
        display: none;
    }
}

@media (max-width: 360px) {
    div.name h{
        font-size: 20px;
        margin: 5px 20px 10px 15px;
    }
}
