@import "basic.css";

.field {
    cursor: pointer;
}

.o, .i {
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    padding: 0.1em 0.3em 0.1em 0.3em;
    min-width: 150px;
}

.i {
    background-color: #004411;
}
.i.field:hover {
    background-color: #006622;
}
.o {
    background-color: #00115a;
}
.o.field:hover {
    background-color: #002277;
}

#correct {
    color: rgba(255, 255, 255, 0);
    margin-top: 0;
}

#conversion {
    max-width: 70%;
}

#dummy_input {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    opacity: 0;
    background-color: #550000;
    z-index: 1;
}
