@import '/style/colors.css';

body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: var(--primary-white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6mm;
}


/* header (name and menu) */

div.name {
    padding: 1em;
    background-color: var(--primary-dark);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
div.name h1, div.name p{
    font-family: "DejaVu Serif", Georgia, serif;
    color:white;
}
div.name h1{
    margin: 0.4em 0em 0px 0em;
    font-size: 3.6em;
}

div.name a {
    color: inherit;
    text-decoration: underline;
}
div.menu a {
    color: var(--primary-dark);
    font-size: 1.2em;
    text-decoration: none;
    border-bottom:4px solid var(--primary-bright);
    white-space: nowrap;
    margin: 0px 0px 0px 20px;
}
.menu {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    padding: 0.7em 0px 1.5em 0px;
    display: flex;
    flex-flow: row wrap;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}
div.name a:hover{
    text-decoration:none;
    text-decoration-line:none;
}
div.menu a:hover, #active:hover{
    border-bottom:4px solid var(--primary-dark);
    text-decoration-line:none;
}
#active {
    border-bottom:4px solid var(--primary);
}

/* body */

.prose {
    max-width: 60vw;
    justify-content: center;
}
.indented p{
    padding-left: 2em;
}
.text {
    margin: 1em;
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    min-width: 18em;
    max-width: 64em;
}
.photo_gallery img {
    height: 400px;
    min-width: 500px;
    max-width: 650px;
    flex:1;
}
.photo_gallery div {
    flex:0.5;
}
.photo_gallery div.text {
    max-width: 450px;
    margin-right: 4em;
}
.photo_gallery .portrait {
    min-width: 190px;
    max-width: 240px;
    flex: 1;
}
.photo_gallery .unlimited {
    min-width: none;
    max-width: none;
}
.photo_gallery {
    justify-content: center;
}
img.social {
    width:32px; height:32px;
    box-shadow: none;
}
#me_img {
    min-height: 300px;
    min-width: 20em;
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 0px;
    flex: 0.8;
    padding:0px;
    margin:0px;
}

/* generic */

div {
    display: flex;
    flex-flow: row wrap;
}
h2, h3, h4 {
    color: var(--primary-dark);
}
h2 {
    border-bottom:4px solid var(--primary-light);
    font-size: 1.5em;
    width: 62%;
}
h3 {
    margin: 0em;
    margin-top: 1em;
}
h5 {
    margin: 0em;
}
p {
    margin: 0em;
}
a {
    font-weight: bold;
}
a:link {
    text-decoration: underline;
    color: var(--primary);
}
a:visited {
    text-decoration: none;
    color: var(--primary);
}
a:hover {
    color: inherit;
}
img {
    object-fit: cover;
    margin: 5px 5px 5px 5px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 5;
}
.center {
    justify-content: center;
}
.pad {
    padding: 1em;
}
.card {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
}


/* div objects */
div.spacer{
    min-width: 5vw;
    flex: 0 0 0 !important;
}
div.wide-spacer{
    min-width: 5vw;
    max-width: 300px;
    flex: 0;
}
div.anchor {
    position: relative;
    top: -5em;
}

