@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --color-theme: 255 255 255;
    --color-primary: 1 87 155;
    --color-secondary: 0 47 108;
    --color-contrast: 0 0 0;
    --color-contrast-primary: 255 255 255;
    --color-contrast-secondary: 255 255 255;
    --color-highlight: 129 212 250;
    --color-subtle: 223 243 253;

    --color-confirm: 66 245 69;
    @apply bg-theme;
  }

  .dark {
    --color-theme: 0 10 23;
    --color-primary: 1 87 155;
    --color-secondary: 0 47 108;
    --color-contrast: 255 255 255;
    --color-contrast-primary: 255 255 255;
    --color-contrast-secondary: 255 255 255;
    --color-highlight: 129 212 250;
    --color-subtle: 12 18 72;

    @apply bg-theme;
  }

  :root {
    @apply light stroke-2;
  }

  div:has(> .theme-focus > label > input.dark-mode-toggle) {
    @apply light;
  }

  div:has(> .theme-focus > label > input.dark-mode-toggle:checked) {
    @apply dark;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      @apply dark;
    }

    div:has(> .theme-focus > label > input.dark-mode-toggle) {
      @apply dark;
    }

    div:has(> .theme-focus > label > input.dark-mode-toggle:checked) {
      @apply light;
    }
  }

  .bg-theme {
    @apply text-contrast stroke-contrast fill-contrast;
  }

  .bg-primary {
    @apply text-contrast-primary stroke-contrast-primary fill-contrast-primary;
  }

  .bg-secondary {
    @apply text-contrast-secondary stroke-contrast-primary fill-contrast-secondary;
  }

  :root {
    @apply bg-theme;
  }

  .center {
    @apply flex justify-center items-center;
  }
}
