@tailwind base;

@layer base {
  h1 {
    @apply text-3xl font-bold font-header;
  }

  h2 {
    @apply text-2xl font-bold font-header;
  }

  h3 {
    @apply text-xl text-pop font-semibold font-serif;
  }

  input {
    @apply bg-theme;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-left: 1em;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 1em;
  }

  :not(pre) > code {
    @apply bg-secondary/30 rounded px-1 py-0.5 whitespace-nowrap;
  }

  p > a {
    @apply underline;
  }

  .col {
    @apply flex flex-col;
  }

  .center {
    @apply justify-center;
  }

  .emphasize {
    @apply border-b-4 border-highlight mb-2;
  }
}
